/* Calendar style */
.fc-toolbar-title{
    text-transform: capitalize;
    margin-right: 30px !important;
}
#calendar{
    margin: auto;
    max-width: 590px;
}

/* Legend style */
li span {
    display: block;
    float: left;
    height: 8px;
    width: 8px;
    margin-right: 5px;
    margin-top: 9px;
    border-radius: 8px;
}
.green{background-color: green;}
.red{background-color: red;}
.yellow{background-color: yellow;}
.inlineList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    list-style: none;
    padding: 0;
    white-space: nowrap;
    margin: auto;
    max-width: fit-content;
}
.inlineList li{ padding: 10px;  }
